body{
    margin: 0 !important;
}
.green{
    border: 1px solid green;
}
.banner{    
    height: 500px;

    background-image: url(/1406844.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.about-signin{
    height: 80px;
    width: 100%;
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
}

.about, .sign-in{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: white;
    padding: 10px 15px;
}
.sign-in{
    color: green;
    margin-right: 60px;
    margin-left: 20px;
    border-radius: 20px;
}
.sign-in:hover{
    background: aquamarine;
    color: black;
}
.logo{ 
    background: url(/logo.png) center center no-repeat;
    height: 150px;
    background-size: 12% ;
    margin-top: 20px;
}

.text{
    margin-top: 20px;
    text-align: center;
    color: white;
}
    .btn-start-now{
        text-align: center;
    }
button{
    text-transform: uppercase; 
    margin-top: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgba(149, 149, 216, 0.565);
    cursor: pointer;
}
.conten-center{
    display: inline;
    color: white;
    text-transform: uppercase;
}
.left, .center, .right{
    width: 33%;
    display: inline-grid;
    text-align: center;
    margin-top: 20px;
}
.conten-center i {
    font-size: 40px;
    margin-bottom: 10px;
}
.text span{
    display: block;
    font-size: 20px;
}